*.iml
.gradle

/local.properties
/.idea/
/build
/captures

/shared/build
/shared/Pods
/shared/shared

sharedpackage

.DS_Store
.externalNativeBuild
.cxx
local.properties

## User settings
xcuserdata/
xcshareddata/
*.xcuserstate